assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
